html,body{
    width:100%;
    font-family: 'noto sans KR','sans-serif';
}
.inner_footer{
    max-width:900px;
    width:100%;
    border-top:1px solid #bbb;
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
}
.inner_footer a{
    color:#fff;
    background:#314250;
    text-decoration: none;
    font-size:24px;
    width:100%;
    text-align: center;
    display:block;
    height:80px;
    line-height:80px;
}
.site_title{
    font-size:26px;
    text-align: center;
    color:#181717;
    font-family: 'Noto Sans KR';
    padding-bottom:10px;
    font-weight: bold;
    width: 100%;
    display: block;
}
.site_title img{
    width: 100%;
    max-width: 600px;
}
.main{
    padding-top:60px;
    padding-bottom:40px;
    position: relative;
    width:100%;
    max-width: 900px;
    margin:0 auto;
    font-family: 'Noto Sans KR';
}
.main h2{
    font-size:40px;
    text-align: center;
    color:#181716;
    margin-top:40px;
    font-weight: bold;
}
.search_form{
    width:100%;
    margin-top:20px;
    position: relative;
    box-sizing: border-box;
    background: url('../images/marketplace_bg.jpg') no-repeat top center/cover; 
/*    background: #00f;*/
    font-family: 'Noto Sans KR';
}


.input_form{
    margin-top: 20px;
}
.input_form .row:nth-of-type(even){
    background: #f5f5f5;
}
.input_form .row:first-of-type{
    border-top: 1px solid #ccc;
}
.input_form .row{
    border-bottom: 1px solid #ccc;
    padding: 10px 5px;
}
.input_form .row input[type="number"],
.input_form .row input[type="text"]{
    padding: 5px 10px;
    width: 100%;
}
.input_form .row .help{
    font-size: 12px;
    line-height: 1.2;
    color: #444;
    margin-top: 10px;
}
.input_form .row .label{
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
    font-weight: bold;
}
.input_form .row.jusung_point input{
    width: 90px;
}
.input_form .row.area input{
    width: 90px;
}


.field_form{
    font-size: 0;
    margin-top: 40px;
}
.field_box{
    width: 100%;
    position: relative;
    background: #ffdc9b;
}
.field_box .column{
    width: calc(100% / 17);
    display: inline-block;
    vertical-align: top;
}
.field_box .field_space{
    width: 100%;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    color: #000;
    vertical-align: top;
    text-align: center;
    position: relative;
    border: 1px solid #c38a4f;
    background: #ffdc9b;
}
.field_box .field_space .point{
    font-size: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
}
.field_box .field_space.not{
    border: 1px solid #2b973d;
    background: #6cff85;
}
.field_box .field_space.castle{
    background: #91ccff;
    border: 1px solid #2d49ff;
}
.field_box .field_space.center{
    background: #2d49ff;
    color: #fff;
}


.btn_wrap{
    margin-top: 20px;
}
.sg_btn{
    width: 100%;
    background-color: #fff;
    color: #fff;
    padding: 0;
    font-size: 16px;
    height: 48px;
    line-height: 46px;
    letter-spacing: 0.54px;
    text-align: center;
    border-radius: 8px;
    background-color: #181716;
    font-weight: bold;
}
.sg_btn:active{
    top: 1px;
}
button,input[type="submit"]{
    border:none;
    font-size:16px;
    background: none;
    cursor: pointer;
    background: #314250;
    color:#fff;
    position: relative;
}
footer{
    width:100%;
    max-width: 900px;
    position: relative;
    margin: 100px auto 0;
}
.inner_footer{
    width:100%;
    border-top:1px solid #bbb;
    padding:20px 0 40px;
}
.inner_footer a{
    color:#314250;
    border: 1px solid #314250;
    text-decoration: none;
    font-size:16px;
    width:200px;
    text-align: center;
    display:block;
    height:40px;
    line-height:40px;
    margin:0 auto;
    margin-top:20px;
}
.thanks_info{
    padding:20px;
    border:1px solid #ddd;
    background:#eee;
    margin-top:20px;
    line-height: 1.4;
    font-size:14px;
}
.thanks_info .byline{
    margin-top:10px;
}
.thanks_info strong{
    font-weight: bold;
}
.reply_frame{
    width:100%;
    height:1500px;
    margin-top:20px;
}
h6.rp_title{
    color: #110e25;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
.rp_help{
    font-size:14px;
    margin-top:5px;
    color:#666;
    line-height: 1.4em;
}
.rp_write{
    border:1px solid #999;
    margin-top:40px;
    padding:10px;
    position: relative;
}
.rp_write input[type="text"]{
    box-sizing: border-box;
    height:30px;
    padding:0 10px;
    border:1px solid #ddd;
    width:120px;
}
.rp_write textarea{
    width:100%;
    height:100px;
    resize: none;
    box-sizing: border-box;
    padding:10px;
    border:1px solid #ddd;
    margin-top:5px;
}
input.reply_btn{
    width:200px;
    height:40px;
    margin-top:10px;
}



        
.help_word{
    margin-top: 30px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    line-height: 1.5;
    font-size: 14px;
    color:#444;
}
.help_word p {
    margin: 10px 0;
}
.help_word div{
    font-weight: bold;
    font-size: 15px;
    color:#444;
}
.help_word strong{
    font-weight: bold;
}
.help_word .made_by{
    width: 100%;
    text-align: right;
    font-size: 11px;
    font-weight: normal;
    margin-top: 10px;
}

#sk_maker_status option[disabled="disabled"]{
    color: #d3d3d3;
}

.sk_maker_status_part_wrap{
    font-size: 0;
    margin-top: 10px;
}
.sk_maker_status_part_wrap > div{
    display: inline-block;
    font-size: 16px;
    border: 1px solid #bbb;
    padding: 5px;
}
.sk_maker_status_part_wrap label{
    font-size: 12px;
    display: block;
    line-height: 1.2;
    margin-bottom: 4px;
}


.team_part{
    font-size: 0;
    margin-top: 40px;
    position: relative;
}
.commander_part{
    box-sizing: border-box;
    border: 1px solid #ddd;
    font-size: 16px;
    display: inline-block;
    width: calc(33.33% - 4px);
    padding: 10px;
    margin-left: 3px;
    margin-top: 3px;
    background: #fff;
    min-width: 280px;
}
.team_part.ally .commander_part{
    border: 1px solid #2ca7ff;
}
.team_part.enemy .commander_part{
    border: 1px solid #ff2d2d;
}
.team_tag{
    color: #fff;
    font-size: 16px;
    padding: 3px 6px 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    margin-left: 3px;
}
.team_part.ally .team_tag{
    background: #2ca7ff;
}
.team_part.enemy .team_tag{
    background: #ff2d2d;
}

.input_section{
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
}
.input_section input{
    height: 30px;
    padding: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.input_section select{
    height: 30px;
}
input.w-full{
    width: 100%;
}
input.w-lg{
    width: 100px;
}
input.w-md{
    width: 80px;
}
input.w-sm{
    width: 40px;
}

.number_part span.tag{
    background: #ff7171;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 3px 6px 4px;
    display: inline-block;
}
.number_part span.tag_2{
    background: #7f8df7;
}
.part_title{
    font-size: 13px;
    color: #181716;
    line-height: 1;
    margin: 14px 0 4px;
    padding: 4px 4px 5px;
    background: #ddd;
}
.stat_part{}
.stat_part > li{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    margin: 2px 0;
}
.stat_part > li label{
    float:left;
    height: 30px;
    line-height: 29px;
    font-size: 15px;
    width: 42px;
    text-align: center;
}
.stat_part > li input{
    float:left;
}
.stat_part > li span.stat_bonus{
    float:left;
    line-height: 30px;
    text-align: center;
    width: 20px;
}

.damage_part{
    font-size: 0;
}
.damage_part .damage_rate_part{
    width: 50%;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}
.damage_part .damage_rate_part label{
    font-size: 12px;
    display: block;
    line-height: 16px;
}
.damage_part .damage_rate_part input{
    width: 100%;
    margin-top: 4px;
}

.skill_popup_wrap{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 100;
    display: none;
}
.skill_popup_wrap.on{
    display: block;
}
.skill_popup_wrap.effect{
    z-index: 101;
}
.skill_popup{
    width: 90%;
    max-width:500px;
    top: 50%;
    position: absolute;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 51px; 
}
.skill_popup_head{
    width: 100%;
    padding: 10px 20px;
    background: #374f67;
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
    font-size: 14;
}
.skill_popup_head i.close_btn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size:20px;
}
.skill_popup_body{
    max-height: calc(100vh - 36px - 51px);
    overflow: auto;
}
.skill_popup_body .col{
    border-top: 1px solid #ddd;
    padding: 10px 20px;
}
.skill_popup_footer{
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    height: 50px;
    width: 100%;
}
.skill_popup_btn{
    height: 30px;
    width: 80px;
    position: relative;
    right: 10px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}
.skill_popup_btn.cancel{
    border:1px solid #314250;
    background: #fff;
    color: #314250;
}
.skill_popup_btn:active{
    top: 1px;
}

.ckbox_wrap{
    font-size: 0;
}
.ckbox{
    display: inline-block;
    font-size: 14px;
    position: relative;
}
.ckbox_wrap.type-2{
    margin-top: 10px;
}
.ckbox label{
    position: relative;
    top: 0;
    left: 0;
    padding:0 10px 0 24px;
    line-height: 30px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #bbb;
}
.ckbox input[type="checkbox"]{
    position: absolute;  
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    margin: 0;
    z-index: 2;
    cursor: pointer;
}
.ckbox input[type="checkbox"]:checked ~label{
    background: #cee1ff;
}

.ckbox_wrap.type-2 .ckbox input[type="checkbox"]:checked ~label{
    background: #fff68c;
}
.col_head{
    font-size: 14px;
    margin-bottom: 8px;
    color: #314250;
}
.col_helper{
    font-size: 12px;
    color: #444;
    line-height: 1.4;
}
.col input, .col select{
    height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid #555;
}

.skill_add_btn{
    height: 34px;
    width: 100%;
    line-height: 32px;
    margin-top: 10px;
}
.effect_add_btn{
    height: 34px;
    width: 200px;
    line-height: 32px;
    margin-top: 10px;
}
.simulation_result_btn{
    width: 100%;
    height: 60px;
    line-height: 58px;
    margin-top : 20px;
    font-size: 20px;
    font-weight: bold;
}
.morale_part{
    padding: 0 3px;
    font-size: 14px;
}
.effect_core .delete_btn{
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.effect_core{
    padding: 10px;
    border: 1px solid #bbb;
    background: #eee;
    margin-top: 5px;
    box-sizing: border-box;
    position: relative;
}
.est{
    border-radius: 8px;
    padding: 4px 8px 7px;
    display: inline-block;
    line-height: 1;
    color:#fff;
    font-size: 14px;
    margin-top: 5px;
}
.est_1{
    display: block;
    padding : 0;
    border-radius: none;
    color:#000;
    font-size: 16px;
    margin-top: 0;
    padding-bottom: 10px;
}
.est_2{
    background: #ff5151;
}
.est_3{
    background: #5975db;
}
.est_4{
    background: #605985;
}
.est_5{
    background: #b76908;
}
.est_6{
    background: #498d71;
}
.skill_core{
    padding: 10px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    margin-top: 5px;
}
.skill_core.active{
    background: #ffe3de;
}
.skill_core.charge{
    background: #fffdc1;
}
.skill_core.etc{
    background: #c9ffda;
}
.skill_core .skill_core_info{
    line-height: 20px;
    padding-bottom: 10px;
}
.commander_part .effect_core .delete_btn{
    display: none;
}
.skill_core .delete_btn{
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    position: relative;
    float:right;
}
.fixex_btn_part{
    position: fixed;
    bottom: 0;
    z-index: 100;
    background: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
}
.fixex_btn_part button{
    float: right; 
    width: auto;
    margin-top: 0;
    height: 40px;
    line-height: 38px;
    padding: 0 20px;
    margin-right: 4px;
}


.combat_simulation_result{
    line-height: 1.5;
    margin-top: 30px;
}
.combat_simulation_result .clr-red{
    color: #f00;
}
.combat_simulation_result .clr-green{
    color: #208b20;
}
.combat_simulation_result .enemy{
    color: #ff4949;
}
.combat_simulation_result .ally{
    color: #144ac5;
}
.combat_simulation_result .ef_wrap{
    padding-left: 40px;
}
.combat_simulation_result .turn{
    color: #6c6439;
    display: block;
    padding-bottom: 5px;
}
.combat_simulation_result .sc_etc{
    color: #00834c;
}
.combat_simulation_result .sc_active{
    color: #af3800;
}
.combat_simulation_result .sc_charge{
    color: #916c03;
}
.combat_simulation_result .status_clr{
    color: #7100ab;
}

.combat_simulation_result .final{
    font-size: 27px;
    font-weight: bold;
}
.combat_simulation_result .final_com{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 1px;
}
.combat_simulation_result .final_com .final_com_nm{
    font-size: 16px;
}
.combat_simulation_result .final_com .final_com_tr{
    color : #333;
    font-size: 18px;
    margin-top: 4px;
}
.combat_simulation_result .final_com .final_com_wtr{
    color : #7c5600;
    font-size: 14px;
}
.combat_simulation_result .final_com .final_com_dtr{
    color : #b34444;
    font-size: 14px;
}

.combat_simulation_result .final_graph{
    width: 100%;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.combat_simulation_result .final_graph .final_graph_team{
    position: relative;
    float: left;
    height: 50px;
    box-sizing: border-box;
}
.combat_simulation_result .final_graph .final_graph_ally{
    border: 3px solid #112146;
}
.combat_simulation_result .final_graph .final_graph_ally .bar{
    height: 100%;
    background: #4079ff;
}
.combat_simulation_result .final_graph .final_graph_enemy{
    border: 3px solid #780303;
}
.combat_simulation_result .final_graph .final_graph_enemy .bar{
    height: 100%;
    background: #ff3636;
}
.combat_simulation_result .final_graph .final_graph_info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0,0,0,0.75);
    padding: 2px 20px;
    border: 1px solid #fff;
}

.combat_simulation_result .final_graph_rate{
    font-size: 30px;
}
.combat_simulation_result .final_graph_rate_help{
    font-size: 12px;
    color: #333;
}

.simul_help{
    line-height: 1.6;
    color: #222;
    padding-bottom: 400px;
}
.simul_help h3{
    font-size: 20px;
    color: #18419d;
    margin-top: 30px;
}
.simul_help .deco_ul{
    text-decoration: underline;
}
.simul_help .deco_red{
    color: #f00;
}
.simul_help strong{
    font-weight: bold;
    margin-right: 10px;
}
.simul_help b{
    font-weight: bold;
}
.simul_help p{
    padding-left: 20px;
    position: relative;
    margin: 10px 0;
}
.simul_help p:before{
    content: '-';
    position: absolute;
    left: 0;
    width: 20px;
    top: 0;
    text-align: center;
}
.simul_help table{
    border: 1px solid #333;
    border-collapse: collapse;
    margin-top: 10px;
    width: 100%;
}
.simul_help table th, .simul_help table td {
    border: 1px solid #333;
    padding: 10px;
}

.warning{
    border: 4px solid #444;
    padding: 20px 10px;
    background: #fff6b4;
    text-align: center;
    margin-top: 10px;
    color: #444;
}
.warning .title i {
    font-size: 32px;
}
.warning .title p{
    margin-top: 10px;
    line-height: 1.4;
    font-size: 18px;
    font-weight: bold;
}
.warning .des{
    margin-top: 20px;
}

.simul_help .jean_box{
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 500px;
    width: 100%;
}
.simul_help .jean_box .nm{
    font-weight: bold;
    margin-bottom: 8px;
}
.simul_help .jean_box .effect{
    font-size: 14px;
}

.simul_help .skill_core{
    width: 270px;
}



