@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Pretendard';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  src: url('../public/pretendard/web/variable/woff2/PretendardVariable.woff2')
    format('woff2-variations');
}

:root {
  --main100: #ecf2ff;
  --main200: #d5e3ff;
  --main300: #b3cdff;
  --main400: #81acff;
  --main500: #5383e8;
  --main600: #4171d6;
  --main700: #2f5ec0;
  --main800: #2f436e;
  --main900: #28344e;
  --gray0: #fff;
  --gray100: #f7f7f9;
  --gray200: #ebeef1;
  --gray250: #dbe0e4;
  --gray300: #c3cbd1;
  --gray400: #9aa4af;
  --gray500: #758592;
  --gray600: #57646f;
  --gray700: #44515c;
  --gray800: #34414d;
  --gray900: #202d37;
  --red100: #fff1f3;
  --red200: #ffd8d9;
  --red300: #ffbac3;
  --red400: #ff6c81;
  --red500: #e84057;
  --red600: #d31a45;
  --red700: #b61337;
  --red800: #703c47;
  --red900: #59343b;
  --orange100: #fff1e6;
  --orange200: #ffd1a9;
  --orange300: #fcb77a;
  --orange400: #ff9f4a;
  --orange500: #ff8200;
  --orange600: #f06f00;
  --orange700: #c55900;
  --orange800: #8e3e00;
  --orange900: #703100;
  --yellow100: #fff9db;
  --yellow200: #feec9c;
  --yellow300: #ffd424;
  --yellow400: #ffb900;
  --yellow500: #eb9c00;
  --yellow600: #e28400;
  --yellow700: #ac6306;
  --yellow800: #76480f;
  --yellow900: #4a340e;
  --green100: #e6f7db;
  --green200: #d0f1bb;
  --green300: #a8e082;
  --green400: #6cc92d;
  --green500: #00ae0a;
  --green600: #139020;
  --green700: #1b7d25;
  --green800: #24662b;
  --green900: #304a1d;
  --teal100: #e5faf3;
  --teal200: #bbecdb;
  --teal300: #89dfc4;
  --teal400: #00d7b0;
  --teal500: #00bba3;
  --teal600: #00a399;
  --teal700: #008889;
  --teal800: #00666e;
  --teal900: #1d4346;
  --blue100: #ddf9ff;
  --blue200: #90e5f7;
  --blue300: #52d5f3;
  --blue400: #00b8ed;
  --blue500: #0093ff;
  --blue600: #006de2;
  --blue700: #095bb3;
  --blue800: #114882;
  --blue900: #183955;
  --purple100: #f3eeff;
  --purple200: #decfff;
  --purple300: #c0a5ff;
  --purple400: #a072ff;
  --purple500: #7d59ea;
  --purple600: #6b42dc;
  --purple700: #5836b2;
  --purple800: #3f2a75;
  --purple900: #332353;
  --pink100: #ffe4f4;
  --pink200: #ffcdea;
  --pink300: #ff9bd2;
  --pink400: #f56cb6;
  --pink500: #e537a2;
  --pink600: #d932d6;
  --pink700: #b920b7;
  --pink800: #8f178d;
  --pink900: #5f225e;
  --bronze100: #f6ede3;
  --bronze200: #e6d4bf;
  --bronze300: #d7b792;
  --bronze400: #a88a67;
  --bronze500: #907659;
  --bronze600: #7c6750;
  --bronze700: #6b5d4d;
  --bronze800: #52493f;
  --bronze900: #3a3734;
  --homeDesktop: #5383e8;
  --homeMobile: #ebeef1;
  --badgeGray400: #9aa4af;
  --maxWidth: 1600px;
}

html.app,
html.app input,
html.app select {
  font-family: 'Pretendard', sans-serif;
  color: #46433f;
}

body {
  background-color: var(--gray200);
}

main {
  padding-bottom: 100px;
}
