html,body{
    width:100%;
    font-family: 'noto sans KR','sans-serif';
}
.inner_footer{
    max-width:900px;
    width:100%;
    border-top:1px solid #bbb;
    padding-top:20px;
    padding-bottom:20px;
    margin:0 auto;
}
.inner_footer a{
    color:#fff;
    background:#314250;
    text-decoration: none;
    font-size:24px;
    width:100%;
    text-align: center;
    display:block;
    height:80px;
    line-height:80px;
}
.site_title{
    font-size:50px;
    text-align: center;
    color:#3b4250;
    font-family: 'Noto Sans KR';
    padding-top:30px;
    padding-bottom:10px;
    font-weight: bold;
}
.main{
    padding-top:40px;
    padding-bottom:40px;
    position: relative;
    width:100%;
    max-width: 900px;
    margin:0 auto;
    font-family: 'Noto Sans KR';
}
.main h2{
    font-size:34px;
    text-align: center;
    color:#3b4250;
    margin-top:40px;
}
.search_form{
    width:100%;
    margin-top:20px;
    position: relative;
    box-sizing: border-box;
    background: url('../images/marketplace_bg.jpg') no-repeat top center/cover; 
/*    background: #00f;*/
    font-family: 'Noto Sans KR';
}
.search_box{
    font-size:0;
    max-width: 600px;
    margin:0 auto;
    padding:60px 20px 60px;
}
.search_box>input{
    width:calc(100% - 80px);
    height:48px;
    box-sizing: border-box;
    display: inline-block;
    margin:0;
    vertical-align: top;
    border:2px solid #3b4250;
    color:#3b4250;
    padding:0 10px;
    font-size: 16px;
    font-family: 'Noto Sans KR';
}
.search_box>input:focus{
    outline:none;
    box-shadow: 0 0 10px #3b4250;
}
.search_box>button{
    width:80px;
    height:48px;
    box-sizing: border-box;
    display: inline-block;
    margin:0;
    border:none;
    background: #3b4250;
    color:#fff;
    font-size:18px;
    cursor: pointer;
    font-family: 'Noto Sans KR';
}
.search_box>button:focus{
    outline:none;
}
.thnks_to{
    font-size:14px;
    color:#888;
    line-height: 1.56;
    text-align: center;
    margin-top:10px;
}


.loading_wrap{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.6);
    display: none;
    z-index: 1000;
}
.loading_wrap.on{
    display: block;
}
.loading_wrap .loading{
    font-size:80px;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.result{
    margin-top: 10px;
}
.item_list{
    border-top:1px solid #ddd;
    font-size:0;
    font-family: 'Noto Sans KR';
    cursor: pointer;
    position: relative;
}
.item_list:hover{
    background: #eee;
}
.item_list:last-of-type{
    border-bottom:1px solid #ddd;
}
.item_list .item_thumb{
    width:50px;
    display: inline-block;
    vertical-align: middle;
}
.item_list .item_name{
    font-size:16px;
    padding:0 5px;
    line-height: 22px;
    color:#555;
    display:inline-block;
    vertical-align: middle;
    margin-right:5px;
}
.item_list .item_inchant{
    font-size:12px;
    padding:0 5px;
    color:#555;
    text-align: right;
    display:inline-block;
    vertical-align: middle;
    border-radius: 8px;
    padding:4px 8px;
    color:#fff;
    line-height: 14px;
}
.item_list .item_inchant_1{
    background:#6aad7b;
}
.item_list .item_inchant_2{
    background:#60a5ab;
}
.item_list .item_inchant_3{
    background:#9273b5;
}

.result_help{
    margin-top:10px;
}
.result_help,.price_result_help{
    font-size:14px;
    color:#555;
    padding:0 10px;
    line-height: 1.3;
}
.price_result_help{
    margin:10px 0;
}
.price_result_help p{
    margin-top:5px;
    padding-left:10px;
    position: relative;
}
.price_result_help p:before{
    content:'-';
    position: absolute;
    top:0;
    left:0;
}

.price_result_wrap{
    font-size:0;
    display:none;
    margin-top:20px;
}
.price_result{
    
}
.price_result_wrap.on{
    display:block;
}
.price_common{
    display:inline-block;
    font-size:14px;
    padding:5px;
    box-sizing: border-box;
    line-height: 1.3;
}
.price_city{
    width:25%;
    text-align: center;
}
.price_quality{
    width:15%;
    text-align: center;
}
.price_quality_1{
    
}
.price_quality_2{
    background:#c9ced6;
}
.price_quality_3{
    background:#de8437;
}
.price_quality_4{
    background:#aecaf5;
}
.price_quality_5{
    background:#ffd04a;
}
.price_buy{
    width:30%;
    text-align: right;
}
.price_sell{
    width:30%;
    text-align: right;
}
.price_result_head{
    height:28px;
}
.price_result_head .price_result_head_inner{
    position: relative;
    color:#fff;
    background: #3b4250;
    width:100%;
}
.price_result_head.fix {
    margin:0;
}
.price_result_head.fix .price_result_head_inner{
    position: fixed;
    top:40px;
    left:0;
}
.price_result_head .price_quality, .price_result_head .price_buy, .price_result_head .price_sell{
    border-left:1px solid #ddd;
}
.price_result>li{
    border-bottom:1px solid #ddd;
}


@media screen and (min-width: 900px) {
    .price_common{
        font-size:16px;
        padding:10px;
    }
    .price_result_head{
        height:40px;
    }
}






.meta_result{
    border-top:1px solid #ddd;
    width:100%;
}
.meta_row{
    border-bottom:1px solid #ddd;
    font-size:0;
    position: relative;
    width:100%;
}
.meta_rank{
    width:40px;
    color:#fff;
    font-size:16px;
    background: #3b4250;
    position: absolute;
    left:0;
    top:0;
    height:100%;
}
.meta_rank p{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.meta_gear{
    font-size:0;
    width:100%;
    padding-left:40px;
    display:inline-block;
    box-sizing: border-box;
}
.meta_gear_part{
    display:inline-block;
    width:20%;
    max-width: 100px;
    font-size:14px;
    text-align: center;
    color:#333;
    vertical-align: top;
}
.meta_gear_part img{
    width:90%;
    display:inline-block;
}
.meta_count{
    font-size:16px;
    padding:10px 10px 10px 50px;
    border-top:1px solid #ddd;
    margin-top:10px;
}





button,input[type="submit"]{
    border:none;
    font-size:16px;
    background: none;
    cursor: pointer;
    background: #314250;
    color:#fff;
    position: relative;
}
footer{
    width:100%;
    max-width: 900px;
    position: relative;
    margin: 100px auto 0;
}
.inner_footer{
    width:100%;
    border-top:1px solid #bbb;
    padding:20px 0 40px;
}
.inner_footer a{
    color:#314250;
    border: 1px solid #314250;
    text-decoration: none;
    font-size:16px;
    width:200px;
    text-align: center;
    display:block;
    height:40px;
    line-height:40px;
    margin:0 auto;
    margin-top:20px;
}
.thanks_info{
    padding:20px;
    border:1px solid #ddd;
    background:#eee;
    margin-top:20px;
    line-height: 1.4;
    font-size:14px;
}
.thanks_info .byline{
    margin-top:10px;
}
.thanks_info strong{
    font-weight: bold;
}
.reply_frame{
    width:100%;
    height:1500px;
    margin-top:20px;
}
h6.rp_title{
    color: #110e25;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}
.rp_help{
    font-size:14px;
    margin-top:5px;
    color:#666;
    line-height: 1.4em;
}
.rp_write{
    border:1px solid #999;
    margin-top:40px;
    padding:10px;
    position: relative;
}
.rp_write input[type="text"]{
    box-sizing: border-box;
    height:30px;
    padding:0 10px;
    border:1px solid #ddd;
    width:120px;
}
.rp_write textarea{
    width:100%;
    height:100px;
    resize: none;
    box-sizing: border-box;
    padding:10px;
    border:1px solid #ddd;
    margin-top:5px;
}
input.reply_btn{
    width:200px;
    height:40px;
    margin-top:10px;
}






